eval "$(devbox generate direnv --print-envrc)"


export ENVNAME=rust
unset GITHUB_TOKEN

export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

mkdir -p $TOP_HEAD/.direnv/rustup
export RUSTUP_HOME=$TOP_HEAD/.direnv/rustup

export PATH=$PATH:$PWD:$PWD/target/debug:$PWD/target/release

export_alias _b "./run.sh build"
